<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tclab.weixinappletservice.dao.AppletPackagePurposeMapper">
  <resultMap id="BaseResultMap" type="com.tclab.weixinappletservice.pojo.AppletPackagePurpose">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="package_purpose_id" jdbcType="VARCHAR" property="packagePurposeId" />
    <result column="package_purpose_name" jdbcType="VARCHAR" property="packagePurposeName" />
    <result column="package_catalog_id" jdbcType="VARCHAR" property="packageCatalogId" />
    <result column="package_purpose_info" jdbcType="VARCHAR" property="packagePurposeInfo" />
    <result column="package_purpose_num" jdbcType="INTEGER" property="packagePurposeNum" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, package_purpose_id, package_purpose_name, package_catalog_id, package_purpose_info, 
    package_purpose_num, del_flag, create_date, update_date
  </sql>
  <select id="selectByExample" parameterType="com.tclab.weixinappletservice.pojo.AppletPackagePurposeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from applet_package_purpose
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from applet_package_purpose
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from applet_package_purpose
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tclab.weixinappletservice.pojo.AppletPackagePurposeExample">
    delete from applet_package_purpose
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tclab.weixinappletservice.pojo.AppletPackagePurpose">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into applet_package_purpose (package_purpose_id, package_purpose_name, 
      package_catalog_id, package_purpose_info, package_purpose_num, 
      del_flag, create_date, update_date
      )
    values (#{packagePurposeId,jdbcType=VARCHAR}, #{packagePurposeName,jdbcType=VARCHAR}, 
      #{packageCatalogId,jdbcType=VARCHAR}, #{packagePurposeInfo,jdbcType=VARCHAR}, #{packagePurposeNum,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tclab.weixinappletservice.pojo.AppletPackagePurpose">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into applet_package_purpose
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="packagePurposeId != null">
        package_purpose_id,
      </if>
      <if test="packagePurposeName != null">
        package_purpose_name,
      </if>
      <if test="packageCatalogId != null">
        package_catalog_id,
      </if>
      <if test="packagePurposeInfo != null">
        package_purpose_info,
      </if>
      <if test="packagePurposeNum != null">
        package_purpose_num,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="packagePurposeId != null">
        #{packagePurposeId,jdbcType=VARCHAR},
      </if>
      <if test="packagePurposeName != null">
        #{packagePurposeName,jdbcType=VARCHAR},
      </if>
      <if test="packageCatalogId != null">
        #{packageCatalogId,jdbcType=VARCHAR},
      </if>
      <if test="packagePurposeInfo != null">
        #{packagePurposeInfo,jdbcType=VARCHAR},
      </if>
      <if test="packagePurposeNum != null">
        #{packagePurposeNum,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tclab.weixinappletservice.pojo.AppletPackagePurposeExample" resultType="java.lang.Long">
    select count(*) from applet_package_purpose
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update applet_package_purpose
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.packagePurposeId != null">
        package_purpose_id = #{record.packagePurposeId,jdbcType=VARCHAR},
      </if>
      <if test="record.packagePurposeName != null">
        package_purpose_name = #{record.packagePurposeName,jdbcType=VARCHAR},
      </if>
      <if test="record.packageCatalogId != null">
        package_catalog_id = #{record.packageCatalogId,jdbcType=VARCHAR},
      </if>
      <if test="record.packagePurposeInfo != null">
        package_purpose_info = #{record.packagePurposeInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.packagePurposeNum != null">
        package_purpose_num = #{record.packagePurposeNum,jdbcType=INTEGER},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update applet_package_purpose
    set id = #{record.id,jdbcType=INTEGER},
      package_purpose_id = #{record.packagePurposeId,jdbcType=VARCHAR},
      package_purpose_name = #{record.packagePurposeName,jdbcType=VARCHAR},
      package_catalog_id = #{record.packageCatalogId,jdbcType=VARCHAR},
      package_purpose_info = #{record.packagePurposeInfo,jdbcType=VARCHAR},
      package_purpose_num = #{record.packagePurposeNum,jdbcType=INTEGER},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tclab.weixinappletservice.pojo.AppletPackagePurpose">
    update applet_package_purpose
    <set>
      <if test="packagePurposeId != null">
        package_purpose_id = #{packagePurposeId,jdbcType=VARCHAR},
      </if>
      <if test="packagePurposeName != null">
        package_purpose_name = #{packagePurposeName,jdbcType=VARCHAR},
      </if>
      <if test="packageCatalogId != null">
        package_catalog_id = #{packageCatalogId,jdbcType=VARCHAR},
      </if>
      <if test="packagePurposeInfo != null">
        package_purpose_info = #{packagePurposeInfo,jdbcType=VARCHAR},
      </if>
      <if test="packagePurposeNum != null">
        package_purpose_num = #{packagePurposeNum,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tclab.weixinappletservice.pojo.AppletPackagePurpose">
    update applet_package_purpose
    set package_purpose_id = #{packagePurposeId,jdbcType=VARCHAR},
      package_purpose_name = #{packagePurposeName,jdbcType=VARCHAR},
      package_catalog_id = #{packageCatalogId,jdbcType=VARCHAR},
      package_purpose_info = #{packagePurposeInfo,jdbcType=VARCHAR},
      package_purpose_num = #{packagePurposeNum,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>