<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tclab.weixinappletservice.dao.AppletPackageSourceMapper">
  <resultMap id="BaseResultMap" type="com.tclab.weixinappletservice.pojo.AppletPackageSource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="package_source_id" jdbcType="VARCHAR" property="packageSourceId" />
    <result column="package_source_name" jdbcType="VARCHAR" property="packageSourceName" />
    <result column="package_source_remark" jdbcType="VARCHAR" property="packageSourceRemark" />
    <result column="package_source_director" jdbcType="VARCHAR" property="packageSourceDirector" />
    <result column="package_source_phone" jdbcType="VARCHAR" property="packageSourcePhone" />
    <result column="package_source_status" jdbcType="INTEGER" property="packageSourceStatus" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="source_pic" jdbcType="VARCHAR" property="sourcePic" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, package_source_id, package_source_name, package_source_remark, package_source_director, 
    package_source_phone, package_source_status, del_flag, create_date, update_date, 
    source_pic
  </sql>
  <select id="selectByExample" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageSourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from applet_package_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from applet_package_source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from applet_package_source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageSourceExample">
    delete from applet_package_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageSource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into applet_package_source (package_source_id, package_source_name, 
      package_source_remark, package_source_director, 
      package_source_phone, package_source_status, 
      del_flag, create_date, update_date, 
      source_pic)
    values (#{packageSourceId,jdbcType=VARCHAR}, #{packageSourceName,jdbcType=VARCHAR}, 
      #{packageSourceRemark,jdbcType=VARCHAR}, #{packageSourceDirector,jdbcType=VARCHAR}, 
      #{packageSourcePhone,jdbcType=VARCHAR}, #{packageSourceStatus,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{sourcePic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageSource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into applet_package_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="packageSourceId != null">
        package_source_id,
      </if>
      <if test="packageSourceName != null">
        package_source_name,
      </if>
      <if test="packageSourceRemark != null">
        package_source_remark,
      </if>
      <if test="packageSourceDirector != null">
        package_source_director,
      </if>
      <if test="packageSourcePhone != null">
        package_source_phone,
      </if>
      <if test="packageSourceStatus != null">
        package_source_status,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="sourcePic != null">
        source_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="packageSourceId != null">
        #{packageSourceId,jdbcType=VARCHAR},
      </if>
      <if test="packageSourceName != null">
        #{packageSourceName,jdbcType=VARCHAR},
      </if>
      <if test="packageSourceRemark != null">
        #{packageSourceRemark,jdbcType=VARCHAR},
      </if>
      <if test="packageSourceDirector != null">
        #{packageSourceDirector,jdbcType=VARCHAR},
      </if>
      <if test="packageSourcePhone != null">
        #{packageSourcePhone,jdbcType=VARCHAR},
      </if>
      <if test="packageSourceStatus != null">
        #{packageSourceStatus,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourcePic != null">
        #{sourcePic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageSourceExample" resultType="java.lang.Long">
    select count(*) from applet_package_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update applet_package_source
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.packageSourceId != null">
        package_source_id = #{record.packageSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.packageSourceName != null">
        package_source_name = #{record.packageSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.packageSourceRemark != null">
        package_source_remark = #{record.packageSourceRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.packageSourceDirector != null">
        package_source_director = #{record.packageSourceDirector,jdbcType=VARCHAR},
      </if>
      <if test="record.packageSourcePhone != null">
        package_source_phone = #{record.packageSourcePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.packageSourceStatus != null">
        package_source_status = #{record.packageSourceStatus,jdbcType=INTEGER},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sourcePic != null">
        source_pic = #{record.sourcePic,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update applet_package_source
    set id = #{record.id,jdbcType=INTEGER},
      package_source_id = #{record.packageSourceId,jdbcType=VARCHAR},
      package_source_name = #{record.packageSourceName,jdbcType=VARCHAR},
      package_source_remark = #{record.packageSourceRemark,jdbcType=VARCHAR},
      package_source_director = #{record.packageSourceDirector,jdbcType=VARCHAR},
      package_source_phone = #{record.packageSourcePhone,jdbcType=VARCHAR},
      package_source_status = #{record.packageSourceStatus,jdbcType=INTEGER},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      source_pic = #{record.sourcePic,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageSource">
    update applet_package_source
    <set>
      <if test="packageSourceId != null">
        package_source_id = #{packageSourceId,jdbcType=VARCHAR},
      </if>
      <if test="packageSourceName != null">
        package_source_name = #{packageSourceName,jdbcType=VARCHAR},
      </if>
      <if test="packageSourceRemark != null">
        package_source_remark = #{packageSourceRemark,jdbcType=VARCHAR},
      </if>
      <if test="packageSourceDirector != null">
        package_source_director = #{packageSourceDirector,jdbcType=VARCHAR},
      </if>
      <if test="packageSourcePhone != null">
        package_source_phone = #{packageSourcePhone,jdbcType=VARCHAR},
      </if>
      <if test="packageSourceStatus != null">
        package_source_status = #{packageSourceStatus,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourcePic != null">
        source_pic = #{sourcePic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageSource">
    update applet_package_source
    set package_source_id = #{packageSourceId,jdbcType=VARCHAR},
      package_source_name = #{packageSourceName,jdbcType=VARCHAR},
      package_source_remark = #{packageSourceRemark,jdbcType=VARCHAR},
      package_source_director = #{packageSourceDirector,jdbcType=VARCHAR},
      package_source_phone = #{packageSourcePhone,jdbcType=VARCHAR},
      package_source_status = #{packageSourceStatus,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      source_pic = #{sourcePic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>