<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tclab.weixinappletservice.dao.AppletPackageCostMapper">
  <resultMap id="BaseResultMap" type="com.tclab.weixinappletservice.pojo.AppletPackageCost">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="package_id" jdbcType="VARCHAR" property="packageId" />
    <result column="acquisition_id" jdbcType="VARCHAR" property="acquisitionId" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="commission_type" jdbcType="INTEGER" property="commissionType" />
    <result column="cost_acquisition_charge" jdbcType="DECIMAL" property="costAcquisitionCharge" />
    <result column="cost_staff_commission" jdbcType="REAL" property="costStaffCommission" />
    <result column="cost_department_commission" jdbcType="VARCHAR" property="costDepartmentCommission" />
    <result column="cost_organization_commission" jdbcType="REAL" property="costOrganizationCommission" />
    <result column="platform_commission" jdbcType="REAL" property="platformCommission" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, package_id, acquisition_id, area_id, commission_type, cost_acquisition_charge, 
    cost_staff_commission, cost_department_commission, cost_organization_commission, 
    platform_commission, del_flag, create_date, update_date
  </sql>
  <select id="selectByExample" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageCostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from applet_package_cost
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from applet_package_cost
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from applet_package_cost
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageCostExample">
    delete from applet_package_cost
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageCost">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into applet_package_cost (package_id, acquisition_id, area_id, 
      commission_type, cost_acquisition_charge, 
      cost_staff_commission, cost_department_commission, 
      cost_organization_commission, platform_commission, 
      del_flag, create_date, update_date
      )
    values (#{packageId,jdbcType=VARCHAR}, #{acquisitionId,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, 
      #{commissionType,jdbcType=INTEGER}, #{costAcquisitionCharge,jdbcType=DECIMAL}, 
      #{costStaffCommission,jdbcType=REAL}, #{costDepartmentCommission,jdbcType=VARCHAR}, 
      #{costOrganizationCommission,jdbcType=REAL}, #{platformCommission,jdbcType=REAL}, 
      #{delFlag,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageCost">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into applet_package_cost
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="packageId != null">
        package_id,
      </if>
      <if test="acquisitionId != null">
        acquisition_id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="commissionType != null">
        commission_type,
      </if>
      <if test="costAcquisitionCharge != null">
        cost_acquisition_charge,
      </if>
      <if test="costStaffCommission != null">
        cost_staff_commission,
      </if>
      <if test="costDepartmentCommission != null">
        cost_department_commission,
      </if>
      <if test="costOrganizationCommission != null">
        cost_organization_commission,
      </if>
      <if test="platformCommission != null">
        platform_commission,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="packageId != null">
        #{packageId,jdbcType=VARCHAR},
      </if>
      <if test="acquisitionId != null">
        #{acquisitionId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="commissionType != null">
        #{commissionType,jdbcType=INTEGER},
      </if>
      <if test="costAcquisitionCharge != null">
        #{costAcquisitionCharge,jdbcType=DECIMAL},
      </if>
      <if test="costStaffCommission != null">
        #{costStaffCommission,jdbcType=REAL},
      </if>
      <if test="costDepartmentCommission != null">
        #{costDepartmentCommission,jdbcType=VARCHAR},
      </if>
      <if test="costOrganizationCommission != null">
        #{costOrganizationCommission,jdbcType=REAL},
      </if>
      <if test="platformCommission != null">
        #{platformCommission,jdbcType=REAL},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageCostExample" resultType="java.lang.Long">
    select count(*) from applet_package_cost
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update applet_package_cost
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.packageId != null">
        package_id = #{record.packageId,jdbcType=VARCHAR},
      </if>
      <if test="record.acquisitionId != null">
        acquisition_id = #{record.acquisitionId,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null">
        area_id = #{record.areaId,jdbcType=VARCHAR},
      </if>
      <if test="record.commissionType != null">
        commission_type = #{record.commissionType,jdbcType=INTEGER},
      </if>
      <if test="record.costAcquisitionCharge != null">
        cost_acquisition_charge = #{record.costAcquisitionCharge,jdbcType=DECIMAL},
      </if>
      <if test="record.costStaffCommission != null">
        cost_staff_commission = #{record.costStaffCommission,jdbcType=REAL},
      </if>
      <if test="record.costDepartmentCommission != null">
        cost_department_commission = #{record.costDepartmentCommission,jdbcType=VARCHAR},
      </if>
      <if test="record.costOrganizationCommission != null">
        cost_organization_commission = #{record.costOrganizationCommission,jdbcType=REAL},
      </if>
      <if test="record.platformCommission != null">
        platform_commission = #{record.platformCommission,jdbcType=REAL},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update applet_package_cost
    set id = #{record.id,jdbcType=INTEGER},
      package_id = #{record.packageId,jdbcType=VARCHAR},
      acquisition_id = #{record.acquisitionId,jdbcType=VARCHAR},
      area_id = #{record.areaId,jdbcType=VARCHAR},
      commission_type = #{record.commissionType,jdbcType=INTEGER},
      cost_acquisition_charge = #{record.costAcquisitionCharge,jdbcType=DECIMAL},
      cost_staff_commission = #{record.costStaffCommission,jdbcType=REAL},
      cost_department_commission = #{record.costDepartmentCommission,jdbcType=VARCHAR},
      cost_organization_commission = #{record.costOrganizationCommission,jdbcType=REAL},
      platform_commission = #{record.platformCommission,jdbcType=REAL},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageCost">
    update applet_package_cost
    <set>
      <if test="packageId != null">
        package_id = #{packageId,jdbcType=VARCHAR},
      </if>
      <if test="acquisitionId != null">
        acquisition_id = #{acquisitionId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="commissionType != null">
        commission_type = #{commissionType,jdbcType=INTEGER},
      </if>
      <if test="costAcquisitionCharge != null">
        cost_acquisition_charge = #{costAcquisitionCharge,jdbcType=DECIMAL},
      </if>
      <if test="costStaffCommission != null">
        cost_staff_commission = #{costStaffCommission,jdbcType=REAL},
      </if>
      <if test="costDepartmentCommission != null">
        cost_department_commission = #{costDepartmentCommission,jdbcType=VARCHAR},
      </if>
      <if test="costOrganizationCommission != null">
        cost_organization_commission = #{costOrganizationCommission,jdbcType=REAL},
      </if>
      <if test="platformCommission != null">
        platform_commission = #{platformCommission,jdbcType=REAL},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tclab.weixinappletservice.pojo.AppletPackageCost">
    update applet_package_cost
    set package_id = #{packageId,jdbcType=VARCHAR},
      acquisition_id = #{acquisitionId,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      commission_type = #{commissionType,jdbcType=INTEGER},
      cost_acquisition_charge = #{costAcquisitionCharge,jdbcType=DECIMAL},
      cost_staff_commission = #{costStaffCommission,jdbcType=REAL},
      cost_department_commission = #{costDepartmentCommission,jdbcType=VARCHAR},
      cost_organization_commission = #{costOrganizationCommission,jdbcType=REAL},
      platform_commission = #{platformCommission,jdbcType=REAL},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>